<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD32E1A42A66FAE500F85FCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD32E1BA2A66FAE800F85FCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD32E1C42A66FAE800F85FCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
